/*Universal Declarations*/
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h2{
    font-weight: bold;
    margin: 0;
    left: 10%;
    position: absolute;
    top: 5%;
}
/*Quiz Presentation*/
body{
    background-color:rgb(27, 196, 139)
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn1{
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    padding:15px 15px;
    font-size: 15px;
    font-weight: bold;
    background-color:darkturquoise;
    top: 40%;
    right: 50%;
}
.welcome{
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    top: 30%;
    right: 46%;
    align-items: center;
}
.explanation{
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    top: 35%;
    right: 42%;
    align-items: center;
}

/*Timer Section*/
.clock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: absolute;
    right: 15%;
    font-size: 20px;
    top: 5%;
    font-weight: bold;
}



.mainn{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color:cadetblue;
    top: 40%;
    right: 40%;
    padding: 50px 100px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    box-shadow: 5px 5px 8px 5px #000000;
    border-radius: 10px;
    

}

.mainsect h2{
    margin-top: 3px;
    font-size: 40px;
}

.mainsect li{
    font-size: 20px;
}

input{
    cursor: pointer;
}

#accept, .btn{
    font-weight: bold;
    font-size: 20px;
    outline: none;
    padding: 15px 30px 15px 30px;
    background-color: cyan;
    margin-top: 20px;
    border:solid 2px black;
}

#score{
    background-color: rgb(0, 153, 158);
    margin-top: 5px;
    padding: 20px;
}





